.header {
    padding: 1rem 0rem;
    width: 100%;
}

.main-nav {
    padding: 1.5rem 1.5rem;
    border-radius: 15px;
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    background-color: #e4f4fa;
}

.navbar ul {
    display: flex !important;
}

.navbar ul li {
    margin-left: 1rem;
    list-style: none;
}

a {
    color: #000 !important;
    text-decoration: none;
    background-color: #e4f4fa;
    padding: 10px;
}

}