.header {
    padding: 1rem 0rem;
    width: 100%;
}

.main-nav {
    margin: auto;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex !important;
}

.navbar ul li {
    margin-right: 1rem;
    list-style: none;
}

a {
    text-decoration: none;
}